* {
  font-family: "Fira Sans", sans-serif;
  font-family: "Plus Jakarta Sans", sans-serif;
}

.title-subtitle-wrapper {
  margin-bottom: 100px;
  margin : 10px 960px 309px 109px;
  margin-right: 250px;
  margin-left: 109;
}

.title-subtitle-wrapper h1 {
  font-weight: 700;
  font-size: 96px;
  line-height: 100px;
  margin-bottom: 50px;

  width: 670px;
  height: 200px;

}

.title-subtitle-wrapper p {
  font-weight: 500;
  font-size: 27px;
  line-height: 33px;
  color: rgba(0, 0, 0, 0.57);
  margin-bottom: 111px;
}

.action-btns {
  display: flex;
  gap: 20px;
}

.btn {
  height: 79px;
  font-weight: 700;
  font-size: 20px;
}

.contained {
  width: 200px;
  background: black;
  color: white;
}

.outlined {
  width: 216px;
  border: 1px solid black;
  background: none;
}

h3 {
  margin: 100px 1471px 977px 109px;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  margin-bottom: 183px;
  margin-top: 129px;

}

.d2{
  display: flex;
  margin: auto;
}

#sub {
  margin: 323px 960px 309px 109px;
}

#image {
  
  width: 625.01px;
height: 865px;
margin-left: 250px;
  
}

h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 96px;
  line-height: 50px;
  margin-bottom: 30px;
}

p {
  font-style: normal;
  font-weight: 500;
  font-size: 27px;
  line-height: 33px;
}

.main {
  position: absolute;
  
}
